<footer class="flex-rw">
        <ul class="footer-list-top">
                <li>
                        <h6 class="footer-list-header">Lost  Games</h6>
                </li>
                <li><a href='/about' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">Get to Know Us!</a></li>   
                <li><a href='' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">Become a Game Lover</a></li>
                <li><a href='/events/calendar.html' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">Check our Events</a></li>
        </ul>
        <ul class="footer-list-top">
        </ul>
        <ul class="footer-list-top">
                <li id='help'>
                        <h4 class="footer-list-header">Contact Us</h4>
                </li>
                <li><a class="generic-anchor footer-list-anchor" itemprop="significantLink">111111111</a></li>
                <li><a href='/faq.html' class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">asdfghjk@gmail.com </a></li>
                <li id='find-a-store'><a class="generic-anchor footer-list-anchor" itemprop="significantLink">Hours:
                                11am - 12pm</a></li>
                <li id='user-registration'><a
                                href='https://www.google.com/maps/place/Lost+Planet/@33.8283999,-118.3355129,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b4c4082d06cb:0x5936cd8c0213d0d4!8m2!3d33.8283999!4d-118.3333189'
                                target="_blank" class="generic-anchor footer-list-anchor"
                                itemprop="significantLink">1111 aaaa del Amo #aaa sssss, CA 90503</a></li>
        </ul>
              
</footer>

