
 <nav class="row navbar navbar-expand-lg navbar-light bg-light"> 

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a  href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a href="/about">About Us</a>
      </li>
     
       <li class="nav-item active">
        <a href="/contact">Contact Us</a> 
      </li>
       
    </ul>
     <ul class="nav navbar-nav navbar-right">
       
              <li><a href="/profile"><span class="glyphicon glyphicon-log-in"></span> Profile</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
        
      
      <li class="nav-item">
              <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
              <li><a href="/signin"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
      
      </ul>
  </div>
  
</nav>