<div class="container ">
  <h1>Thank you for contacing us</h1>

  <h6> Your Contact {{data.firstname }} now is in data department</h6>
  <p> we contact you soon {{data.firstname}} {{data.lastname}}</p>
 
</div>

