<div class="container register-form">
  <h1>Contact US</h1>
  <form class="form-content action_page" method="POST" action="/contact">
    <div class="form-group">
      <label >First Name</label>
      <input class="form-control" type="text" id="fname" name="firstname" placeholder="Your name..">
    </div>
    <div class="form-group">
      <label >Last Name</label>
      <input class="form-control" type="text" id="lname" name="lastname" placeholder="Your last name..">
    </div>
    <div class="form-group">
      <label >Email</label>
      <input class="form-control" type="email" id="email" name="email" placeholder="Your email..">
    </div>
    <div class="form-group ">
      <label>Your Message</label>
      <input class="form-control" type="text" id="message" name="message" placeholder="Type Your Message..">
    </div>
    <button type="submit" value="submit" > Submit </button>

  </form>
</div>