{{!-- nabr bar --}}


{{!-- main body --}} 
  <div class=" container main">
    <h1 class="font-weight-light">Lorem Ipsum</h1>
    <h5 class="font-italic text-muted mb-4"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lobortis!</h5>

    <p class="font-italic text-muted mb-4">
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at sem ac justo sagittis gravida quis a lorem.
      Nullam tincidunt lectus non consectetur viverra. Aliquam erat volutpat. Praesent vulputate purus at mi dictum, 
      sit amet sollicitudin tortor consequat. Donec in magna vel ipsum finibus ornare ac vitae orci. Curabitur blandit 
      nisi risus, sit amet imperdiet erat semper eu. Integer id metus est.</p>
    <br> 
  </div>

  {{> card }}
 
 
<!-- Footer -->
